body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5F5;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcomeBoard {
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
}
.welcomeBoard > #backgroundWelcome{
  position: absolute;
  width: 40vw;
  height: 95vh;
}
.welcomePhrase{
  position: absolute;
  color: #ffffff;
  width: 40vw;
  margin-left: 17vw;
  margin-top: 40vh;
}
.loginForm {
  width: 20vw; /* Original form width */
  height: 5vh;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  right:20vw;
  top: 40vh;
}
#email,
#password {
  width: 100%; /* This will make the input fields occupy the entire width of the form */
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #4285F4;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonLogin {
  width: 200px;
  height: 50px;
  background-color: #0011A8;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  margin: 20px;
  transition: background-color 0.3s ease;
}
.Forgot {
  position: relative;
  left: -1vw;
  width: 50%; /* This will make the reset button occupy the entire width of the form */
  color: #4285F4;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#logoPosition{
  width: 100px;
  height: 100px;
  position: absolute;
  right: 28vw;
  top:20vh;
}
.desktop-only {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop-only {
    display: block;
    display: inline-block;
    display: flex;
  }
}


/* EventCreate */


.container-EventCreate {
    width: 90%;
    padding-right: 100px;
    padding-right: 100px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 67px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(87, 86, 86, 0.788);
}

.texto_criarEvento {
    padding: 50px;
    text-align: left;
    display: inline-block;
    height: 46px;
}

.form-group-EventCreate {
    padding-inline-start: 20%;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

.label-EventCreate {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.input-EventCreate {
    width: calc(80% - 22px);
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}

.input-EventCreate:focus {
    background-color: #e0e0e0;
    outline: none;
}

.desciption {
    width: calc(100% - 22px);
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    resize: vertical;
    transition: background-color 0.3s ease;
}

.desciption:focus,
.desciption:hover {
    background-color: #e0e0e0;
}

.button-container {
    text-align: right;
}

.button-EventCreate {
    width: 200px;
    background-color: #0011A8;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
    overflow: hidden;
    height: 50px;
    margin: 50px;
}

.button-EventCreate:hover {
    background-color: #0025FF;
}

.cancel-button {
    width: 120px;
    background-color: #4285f4;
    color: #FFFFFF;
    font-size: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    overflow: hidden;
    height: 20px;
    margin: 20px;
}

.input-photo-EventCreate {
    width: calc(80% - 22px);
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}



/* First access CSS */

/* Container */
.contFirstAsccess {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  border-radius: 20px; /* Reduced border-radius */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

}



/* Logo */
.logofirstAsccess {
  max-width: 200px;
  max-height: 80px;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

/* Text Topic */
.textTopic {
  padding: 20px;
  font-size: 32px;
  margin-top: 20px; /* Reduced margin-top */
  margin-bottom: 20px;
}

/* Select Dropdown */
.selectFirstAsccess {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #f2f2f2; /* Added border for clarity */
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: large;
}

/* Button */
.buttonFirstAccess {
  width: 200px;
  height: 50px;
  background-color: #0011A8;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  margin: 20px;
  transition: background-color 0.3s ease;
}

.buttonFirstAccess:hover {
  background-color: #0025FF;
}


