

.container {
    width: 100%;
    padding: 100px;
    border-radius: 67px;
    display: flex;
    flex-direction: column; /* Empilha os itens verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(221, 15, 15, 0.788);
}

.textTopic {
    padding: 20px;
    font-size: 32px;
    margin-top: 50px; 
    margin-bottom: 50px;
}

.selectFirstAsccess {
    width: 60% ;
    padding: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(150, 150, 150, 0.788);
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    font-size: large;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #0011A8;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;
}

.button:hover {
    background-color: #0025FF;
}

.logofirstAsccess {
    max-height: 100px ;
    
    
}
