/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  /* Estilos para o EventCard */
  .min-w-max {
    min-width: max-content;
  }
  
  .rounded-lg {
    border-radius: 1rem;
  }
  
  .shadow-lg {
    
    border: 2px solid #052ee7;
    margin: 10px;
  }
  
  .rounded-t-lg {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  /* Estilos para o EventList */
  .flex {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    scroll-snap-type: x mandatory;
  }
  
  .min-w-max {
    scroll-snap-align: start;
  }

  .btn-final {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-final .btn {
  width: 200px;
    background-color: #0011A8;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 30px;
    overflow: hidden;
    height: 50px;
    margin: 50px;
}

.btn-final .btn:hover {
  background-color: #2b6cb0;
}
.coruselBtnNext, .coruselBtnPrevious{
  height: 40px;
  width: 60px;
  border-radius: 100px;
  align-self: center;
  border: none;
}

 
  
  /*  teste */

  
  