/* Estilos para o AllEvents*/

body {
  background-color: #fff;
  margin: 5%;
  overflow-x: hidden;
}



.card {
  width: 400px;
  height: 300px;
  border:  7px solid #D3D3D3;
  border-radius: 20px;
  align-self: center;
  text-decoration: none;

}
  .card:hover {
    box-shadow: 0 8px 16px rgb(6, 156, 237);
  
  }



  
 


.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.date-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-info {
  margin-top: 10px;
}

.flex {
  display: flex;
  overflow-x: hidden;
  gap: 1rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
}




/*events-grid  muda a largura dos cards*/
.events-grid {
  display: grid;  
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding: 5rem;
  margin-top: -4rem;
  
}

.event-grid-item {
  flex: 1 0 20%;
  margin: 5px;
}
@media (max-width: 800px) {
  .event-grid-item {
    flex: 1 0 50%;
  }
}

@media (max-width: 1200px) {
  .events-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .events-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .events-grid {
    grid-template-columns: 1fr;
  }
}

/*igor*/
.dayCard {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0011A8;
  text-align: left;
}

.titleCard {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-align: left;
}

.text-sm {
  font-size: 0.900rem;
}

.date-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-info {
  margin-top: 10px;
}

.imageClasses {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 200px;
}


.btn-final .btn {
  width: 200px;
  background-color: #0011A8;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  overflow: hidden;
  height: 50px;
  margin: 50px;
}

.btn-final .btn:hover {
  background-color: #2b6cb0;
}

/* Ajuste do layout */
.filter-by-tag {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 40px;
}

.carousel-container {
  padding: 20px;
}

.alice-carousel__stage-item {
  padding-right: 70px;
}
.alice-carousel{
  padding-left: 5vw;
}
.alice-carousel__dots{
  position: relative;
left: -2vw;
}