*,*::after, *::before{
    margin: 0;
    box-sizing: border-box;
}


*::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: darkgray;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background:  rgb(232, 236, 244);
}
.nav__brand img {
    width: 150px;
}

.nav__search {
    width: 50vw; /* A largura será de 100% até atingir o max-width */
    max-width: 500px; /* A largura máxima será de 500px */
    padding: 10px;
    border-radius: 25px;
    border: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>') no-repeat scroll 7px 7px;
    padding-left:30px;
}

.nav__search-container {
    position: relative;
    
}



.nav__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin-left: 350px;
}


.nav_toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.3rem;
    background: darkgray;
}  
.nav__toggler{
    cursor: pointer;
    display: none;
} 

/* teste */

.menu-trigger img{
    position: absolute;
    top: 1px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
  }
  
  .dropdown-menu{
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 200px;
  }
  
  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  
  h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
  }
  
  h3 span{
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
  }
  
  .dropdown-menu ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .dropdown-menu ul li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
  }
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }



/* final teste */

@media screen and (max-width: 768px){
  
    .nav__toggler{
        display: block;
    }
   
   .nav__search {
    width: 80%; /* Ajuste a largura para telas menores */
}
}